[defaults]
remote_user = root
inventory = inventory
gathering = smart
transport = ssh

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60m
pipelining = True
